/* Service detail page */

body {
    color: #484848;
}

/* Top navigation */
div.container.navigation {
    margin-top: 126px;
}
div.navigation i.fa-chevron-right {
    display: flex;
    align-items: center;
}
div.navigation div button {
    font-weight: bold;
    padding: 6px;
}
div.navigation div button:focus {
    box-shadow: none;
}

/* Service detail */
section#service-detail div.container.service-detail {
    margin: 20px 48px;
    font-size: 18px;
    max-width: 90%;
}
section#service-detail div.container.service-detail div.service-name h2 {
    font-weight: 700;
}
section#service-detail div.container.service-detail div.crop {
    height: 500px;
    width: 374px;
}
section#service-detail div.container.service-detail div.service-type {
    font-weight: 500;
}
section#service-detail div.container.service-detail  div.row div.col-lg-8 > div.row.top-row{
    align-items: center;
    display: flex;
}
section#service-detail div.container.service-detail div.row.top-row button:focus {
    box-shadow: none;
}
section#service-detail div.container.service-detail div.location {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
section#service-detail div.container.service-detail div.location span {
    color: #008489;
    padding-left: 20px;
}
section#service-detail div.container.service-detail i.fa-map-marker-alt, i.fa-stopwatch, i.fa-comments {
    font-size: 1.3em;
}
section#service-detail div.container.service-detail div.duration {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
section#service-detail div.container.service-detail div.duration span {
    padding-left: 20px;
}
section#service-detail div.container.service-detail div.language {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
section#service-detail div.container.service-detail div.language span {
    padding-left: 15px;
}
section#service-detail div.container.service-detail div.about-cargiver p.title {
    font-weight: 500;
}
section#service-detail div.container.service-detail div.about-cargiver div.avatar > div {
    width: 190px;
    height:146px; 
    align-items: center;
}
section#service-detail div.container.service-detail div.about-cargiver div.avatar > div img {
    width: 72px;
    height: 72px;
    border-radius: 36px;
}
section#service-detail div.container.service-detail div.about-cargiver div.avatar > div span.name {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
section#service-detail div.container.service-detail div.about-cargiver div.avatar > div button.contact {
    color: #006C70;
}
section#service-detail div.container.service-detail div.about-cargiver div.avatar > div button.contact:focus {
    box-shadow: none;
}
section#service-detail div.container.service-detail div.about-cargiver div.avatar > div button.contact:hover {
    text-decoration: underline;
}
section#service-detail div.container.service-detail p.more-detail {
    font-weight: 500;
}
section#service-detail div.container.service-detail p.should-know {
    font-weight: 500;
}

/* Review */
section#service-detail div.container.service-detail div.review-title h2 {
    font-weight: 700;
}
section#service-detail div.container.service-detail div.review-title div.rating-container {
    display: flex;
    align-items: center;
}
section#service-detail div.container.service-detail div.review-title div.rating-container span.rating {
    padding: 0 15px 0 20px;
    font-size: 20px;
    font-weight: bold;
}
section#service-detail div.container.service-detail div.review-title div.rating-container i.fa-star {
    color: #008489 ;
    padding: 0 3px;
}
section#service-detail div.container.service-detail div.review-body div.review-item img {
    width:48px;
    height: 48px;
    border-radius: 24px;
}
section#service-detail div.container.service-detail div.review-body div.review-item div.review-info {
    margin-left: 30px;
}
section#service-detail div.container.service-detail div.review-body div.review-item div.review-info span.reviewer-name {
    font-weight: bold;
    padding-right: 10px;
    font-size: 16px;
}
section#service-detail div.container.service-detail div.review-body div.review-item div.review-info span.reviewer-name:hover {
    text-decoration: underline;
    cursor: pointer;
}
section#service-detail div.container.service-detail div.review-body div.review-item div.review-info span.join-time {
    font-size: 14px;
}
section#service-detail div.container.service-detail div.review-body div.review-item div.review-info i.fa-star {
    color: #008489 ;
    font-size: 0.75em;
    padding: 5px 3px 0 0;
}
section#service-detail div.container.service-detail div.review-body div.review-item div.content {
    margin-top: 15px;
}

/* Action bar */
section#service-detail div.action-bar {
    height: 69px;
    background-color: #fff;
    position:sticky;
    bottom: 0;
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.05) !important;
    border-top: 1px solid #EBEBEB !important;
    z-index: 5;
    display: flex;
    align-items: center;
}
section#service-detail div.action-bar div.info {
    margin-left: 28px;
}
section#service-detail div.action-bar img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
section#service-detail div.action-bar div.agent-info {
    margin-left: 10px;
    color: #008489;
}
section#service-detail div.action-bar div.agent-info span.type {
    font-weight: 500;
    font-size: 14px;
    color: #484848;
}
section#service-detail div.action-bar div.agent-info div.rating {
    align-items: center;
}
section#service-detail div.action-bar div.agent-info span.rating {
    font-size: 14px;
    font-weight: 500;
    padding-right: 5px;
}
section#service-detail div.action-bar div.agent-info i.fa-star {
    font-size: 10px;
}
section#service-detail div.action-bar div.agent-info span.number-review {
    padding-left: 5px;
    font-size: 14px;
}
section#service-detail div.action-bar div.see-date {
    align-items: center;
}
section#service-detail div.action-bar div.see-date div.price span {
    font-weight: 700;
    font-size: 16px;
}
section#service-detail div.action-bar div.see-date button {
    background-color: rgb(255, 90, 95);
    height: 46px;
    width: 200px;
    margin-left: 20px;
    border: none;
    font-weight: bold;
}
section#service-detail div.action-bar div.see-date button:hover {
    border: none;
}
section#service-detail div.action-bar div.see-date button:focus {
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 5px;
}
section#service-detail div.action-bar div.see-date button:active {
    background: rgb(223, 60, 71);
}
section#service-detail div.action-bar div.see-date {
    margin-left: 60px;
}

/* See dates page */

section#see-dates div.header {
    height: 56px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(72, 72, 72, .1);
    z-index: 100;
    background-color: #fff;
}
section#see-dates div.header button:focus {
    box-shadow: none;
}
section#see-dates div.header button > i.fa-times {
    color: rgb(72, 72, 72, .7);
}
section#see-dates div.container-calendar {
    margin-top: 56px;
}
section#see-dates div.container-calendar div.calendar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    position: fixed;
    top: 50px;
    left: 10%;
}
section#see-dates div.container-calendar div.container {
    margin: -270px 0 0 -245px;
}
section#see-dates div.container-calendar div.date-info {
    align-items: center;
    padding-top: 0;
}
section#see-dates div.container-calendar div.date-info div.title {
    width: 400px;
    position: fixed;    
    background-color: #fff;
    padding-top: 50px;
}
section#see-dates div.container-calendar div.date-info div.detail {
    width: 400px;
}
section#see-dates div.container-calendar div.date-info div.title p {
    font-weight: bold;
}
section#see-dates div.container-calendar div.date-info div.title h2 {
    font-weight: 400;
}
section#see-dates div.container-calendar div.date-info div.detail div.item {
    margin: 15px 0 15px 0;
    font-size: 15px;
    font-weight: 400;
    color: rgb(72, 72, 72);
    border-bottom: 1px solid rgb(72, 72, 72, .3);
    padding-bottom: 15px;
}
section#see-dates div.container-calendar div.date-info div.detail div.item div.info {
    justify-content: space-between;
}
section#see-dates div.container-calendar div.date-info div.detail div.item div.date {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
section#see-dates div.container-calendar div.date-info div.detail div.item div.date date {
    border-bottom: 1px solid rgb(72, 72, 72, .3);
    padding-bottom: 10px;
}
section#see-dates div.container-calendar div.date-info div.detail div.item button {
    border: 2px solid #008489;
    font-size: 16px;
    font-weight: bold;
    color: #008489;
}
section#see-dates div.container-calendar div.date-info div.detail div.item button:active {
    color: #006a70;
    background: rgba(0, 132, 137, 0.15);
    border-color: rgb(0, 106, 112);
}
section#see-dates div.container-calendar div.date-info div.detail div.item button:focus {
    box-shadow: none;
}
section#see-dates div.container-calendar div.calendar a {
	text-decoration: none;
}

section#see-dates div.container-calendar div.calendar h2 {
	font-size: 2em;
	line-height: 1.25em;
	margin: .25em 0;
}

section#see-dates div.container-calendar div.calendar h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin: .33em 0;
}

section#see-dates div.container-calendar div.calendar table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---------- CALENDAR ---------- */

section#see-dates div.container-calendar div.calendar {
	text-align: center;
}

section#see-dates div.container-calendar div.calendar header {
	position: relative;
}

section#see-dates div.container-calendar div.calendar h2 {
	text-transform: uppercase;
}

section#see-dates div.container-calendar div.calendar thead {
	font-weight: 600;
	text-transform: uppercase;
}

section#see-dates div.container-calendar div.calendar tbody {
	color: #7c8a95;
}

section#see-dates div.container-calendar div.calendar tbody td:hover {
	border: 2px solid #00addf;
}

section#see-dates div.container-calendar div.calendar td {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	width: 4em;
}
section#see-dates div.container-calendar div.calendar td:hover {
	cursor: pointer;
}
section#see-dates div.container-calendar div.calendar .booked,
section#see-dates div.container-calendar div.calendar .next-month {
	color: #cbd1d2;
}
section#see-dates div.container-calendar div.calendar td.day {
    text-transform: capitalize;
}
section#see-dates div.container-calendar div.calendar .booked:hover {
	border: 2px solid #cbd1d2;
} 
section#see-dates div.container-calendar div.calendar .booked:hover {
    cursor: context-menu;
}
section#see-dates div.container-calendar div.calendar .current-day {
	background: #00addf;
	color: #f9f9f9;
}

section#see-dates div.container-calendar div.calendar td.current-day:after {
	background: #f9f9f9;
}

section#see-dates div.container-calendar div.calendar .btn-prev,
section#see-dates div.container-calendar div.calendar .btn-next {
	border: 2px solid #cbd1d2;
	border-radius: 50%;
	color: #cbd1d2;
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
}

section#see-dates div.container-calendar div.calendar .btn-prev:hover,
section#see-dates div.container-calendar div.calendar .btn-next:hover {
	background: #cbd1d2;
	color: #f9f9f9;
}

section#see-dates div.container-calendar div.calendar .btn-prev {
	left: 6em;
}

section#see-dates div.container-calendar div.calendar .btn-next {
	right: 6em;
} 

/* Confirm booking page */
section#confirm-booking div.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(72, 72, 72, .1);
    z-index: 100;
    background-color: #fff;
}
section#confirm-booking div.header button.logo img {
    width: 40px;
    height: 40px;
}
section#confirm-booking div.header div.avatar-container {
    display: flex;
    align-items: center;
    height: 100%;
}
section#confirm-booking div.header div.avatar-container:hover {
    border-bottom: 2px solid rgb(118, 118, 118);
}
section#confirm-booking div.header div.avatar-container button.avatar img {
    width: 28px;
    height: 28px;
    border-radius: 14px;
}
section#confirm-booking div.container {
    margin-top: 40px;
}
section#confirm-booking div.container div.review-detail {
    padding-left: 3%;
}
section#confirm-booking div.container div.review-detail form {
    margin-top: 30px;
}
section#confirm-booking div.container div.review-detail form label {
    font-size: 18px;
    font-weight: 600;
}
section#confirm-booking div.container div.review-detail form label span {
    color: #e0714b;
}
section#confirm-booking div.container div.review-detail form input, textarea {
    max-width: 70%;
    border-radius: 4px;
}
section#confirm-booking div.container div.review-detail form input:focus {
    box-shadow: none;
    border: 1px solid rgb(0, 132, 137);
}
section#confirm-booking div.container div.review-detail form textarea:focus {
    box-shadow: none;
    border: 1px solid rgb(0, 132, 137);
}
section#confirm-booking div.container div.review-summary {
    padding-left: 3%;
}
section#confirm-booking div.container div.review-summary div.summary-container {
    width: 90%;
    border: 1px solid rgb(228, 228, 228);
    padding-left: 24px;
    padding-right: 24px;

}
section#confirm-booking div.container div.review-summary div.summary-container div.title-container {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}
section#confirm-booking div.container div.review-summary div.summary-container div.title-container div.content div.title {
    font-weight: 600;
}
section#confirm-booking div.container div.review-summary div.summary-container div.title-container div.thumbnail img {
    width: 60px;
    height: 94px;;
}
section#confirm-booking div.container div.review-summary div.summary-container div.datetime {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
section#confirm-booking div.container div.review-summary div.summary-container div.datetime div.time {
    font-size: 14px;
}
section#confirm-booking div.container div.review-summary div.summary-container div.price, div.total {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
}
section#confirm-booking div.container div.review-summary div.summary-container div.total div.value {
    font-weight: 800;
}
section#confirm-booking div.container div.review-summary div.summary-container div.cancel {
    padding-top: 24px;
    padding-bottom: 24px;
}
section#confirm-booking div.container div.review-summary div.summary-container div.cancel span {
    font-weight: 600;
    color: rgb(72, 72, 72);
}
section#confirm-booking div.container button.btn-action {
    width: 190px;
    height: 48px;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    background-color: rgb(255, 90, 95);
    border-color: transparent; 
}
section#confirm-booking div.container button.btn-action:focus {
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 5px;
}
section#confirm-booking div.container button.btn-action:active {
    background: rgb(223, 60, 71);
}

/* Homepage */

.text-primary {
    color: #fed136 !important;
  }

header.masthead a.btn {
  background-color: rgba(0, 108, 112, 0);
  border:1.5px solid rgb(247, 245, 245);
  font-family: 'Montserrat', -aheaderpple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 500;
  color:white;
  }
  
header.masthead.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
  }
  
  header.masthead a.btn:active, a.btn:focus, a.btn:hover {
    background-color: rgb(255, 90, 95) !important;
    border-color: white !important;
    color: white;
  }
  
header.masthead.btn-primary:active, .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }

/* Homepage Navbar */
#mainNav {
    background-color: #212529;
  }
#mainNav.navbar-color-black li.nav-item > a.nav-link {
    color: #484848;
}
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fec503;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
  }
  #mainNav a.navbar-brand img {
      width: 50px;
      height: 50px;
  }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529b7;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
  }
/* Homepage Header */
header.masthead{
    height: 790px;
    text-align: center;
    color: white;
    background-image: url("../img/homepage_header_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  
  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  
  @media (min-width: 768px) {
    header.masthead .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
    }
    header.masthead .intro-text .intro-lead-in {
      font-size: 50px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    header.masthead .intro-text .intro-heading {
      font-size: 90px;
      font-weight: 400;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
  }

  /* Categories */
  
  section#categories div.container{
      margin-left: 10px;
      margin-right: 10px;
  }
  @media (min-width: 1200px){
      .container {
    max-width: 1900px;
    }
  }
  #categories div.text-uppercase{
    color: rgb(255, 90, 95);
    margin-left: 115px;
    font-size: 55px;
    font-weight: 500;
    line-height: 75px;
  }
  #elderly_care{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }
  #elderly_care div.service_name{
    margin-left: 50px;
    text-shadow: 3px 3px rgb(22, 22, 22);
    color:white;
    position: absolute;
    font-size: 55px;
  }
  #transitional_care{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }
  #transitional_care div.service_name{
    margin-left: 50px;
    text-shadow: 3px 3px rgb(22, 22, 22);
    color:white;
    position: absolute;
    font-size: 45px;
  }
  #children_care{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }       
  #children_care div.service_name{
    margin-left: 50px;
    text-shadow: 3px 3px rgb(22, 22, 22);
    color:white;
    position: absolute;
    font-size: 45px;
  }
  #categories_image img{
      border:2px solid;
      border-radius: 40px;
      margin-top: 20px;
      margin-left:105px;
  }
  #transitional_care{
    margin-left: -100px;
  }
  #children_care{
    margin-left: -180px;
  }
  /* Blank */
  section.blank div.container{
      height: 80px;
  }

  /* Special service */
  #special_service div.text-uppercase{
    color: rgb(255, 90, 95);
    margin-left: 120px;
    font-size: 55px;
    font-weight: 500;
    line-height: 75px;
  }
  #special_service div.container{
    margin-top: 20px;
    height: 600px;
    width: 100%;
  }
  #special_service #autism_container{
    margin-top: 20px;
    margin-left: 110px;
    height: 500px;
    width: 1300px;
    border:2px solid;
    border-radius: 30px;
    background: url("../img/autism.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: absolute;
  }
  #autism{
    color:white;
    text-shadow: 3px 3px rgb(22, 22, 22);
    font-size: 65px;
    font-weight: 500;
    line-height: 75px;
    padding-top: 300px;
    display: flex;
    align-items: flex-end;
    position: relative;
  } 
  #special_service div.container a.btn{
    background-color: rgba(0, 108, 112, 0);
    border:1.5px solid rgb(247, 245, 245);
  }

  /* High Rating Agents */
  #high_rating_agents div.text-uppercase{
    color: rgb(255, 90, 95);
    margin-left: 120px;
    font-size: 55px;
    font-weight: 500;
    line-height: 75px;
  }

  #high_rating_agents div.card img{
    width: 255px;
    height: 236px;
    border: none;
    border-radius: 0px;
  }
  #high_rating_agents div.text-center{
    margin-top: 30px;
    margin-left: 40px;
  }
  #high_rating_agents div.card-body{
    padding-left: 0;
  }
  #high_rating_agents div.text-left{
    display: flex;
    align-items: center;
    border: none;
    line-height: 5px;
  }
  #high_rating_agents h4.card-title{
    color: rgb(2, 57, 158);
    margin-top: -5px;
    font-size: 17px;
  }
  #high_rating_agents p.card-text.description{
    font-weight: 50px;
    color: black;
  }
  #high_rating_agents div.text-left.next{
    margin-left: -30px;
  }
  #high_rating_agents i.fas.fa-star{
    color:gold;
  }
  #high_rating_agents i.fas.fa-star-half-alt{
    color:gold;
  }
  
  /* Modal */
  .pb-modalreglog-container
      {
          margin-top: 100px;
      }
  
      .pb-modalreglog-legend
      {
          color: black;
          font-size: 20px;
          text-align: left;
      }
  
      .pb-modalreglog-input-group
      {
          margin: auto;
      }
  
      .pb-modalreglog-submit
      {
          margin-left: 5px;
      }
  
      .pb-modalreglog-form-reg
      {
        color: black;
        font-size: 20px;
        text-align: left;
      }

    div.modal div.form #facebook{
        background-color: #0c29a8;
        color: white;
    }
    div.modal div.form #google{
        background-color: #db2121c7;
        color: white;
    }
    #login-footer{
        display: flex;
        justify-content: safe;
    }
    #login-email, #login-password{
        color: black;
        font-size: 20px;
    }
  /* Footer */
  section#footer {
      padding: 40px 0px 0px 200px;
  }

  section .section-title {
      text-align: center;
      color: #0c29a8;
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  #footer {
      background: rgb(255,90,95)!important;
  }
  #footer h5{
    padding-left: 10px;
      border-left: 3px solid #eeeeee;
      padding-bottom: 6px;
      margin-bottom: 20px;
      color:#ffffff;
  }
  #footer a {
      color: #ffffff;
      text-decoration: none !important;
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
  }
  #footer ul.social li{
    padding: 3px 0;
  }
  #footer ul.social li a i {
      margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }
  #footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
  }
  #footer ul.social li a,
  #footer ul.quick-links li a{
    color:#ffffff;
  }
  #footer ul.social li a:hover{
    color:#eeeeee;
  }
  #footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }
  #footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
  }
  #footer ul.quick-links li a i{
    margin-right: 5px;
  }
  #footer ul.quick-links li:hover a i {
      font-weight: 700;
  }

  @media (max-width:767px){
    #footer h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0px;
      margin-bottom: 10px;
  }
  }
  #footer div.col-sm-12.col-md-12.mt-2.mt-sm-5{
    margin-left: -130px;
  } 
  #footer div.col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-2.text-center.text-white{
    margin-left: -140px;
  }

  /* Service */
div.service {
    margin-top: 126px;
}
.service .intro {
    padding: 50px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    padding-top: 0;
}

.service .intro-left {
    text-align: center;
    margin-left: -50px;
}
.service .intro-left div.row {
    display: flex;
    justify-content: center;
}
.service .intro-left img {
    padding-top: 30px;
    padding-bottom: 30px;
}

.service .intro-left button {
    padding: 10px 50px;
    border-radius: 20px;
    background: rgb(255, 90, 95);
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #c8c8c8;
}

.service .intro-right {
    text-align: left;
    margin-left: -30px;
}

.service .intro-right h1 {
    font-weight: bold;
}

.service .intro-right .slogan {
    font-style: italic;
}

.service .intro-right h3 {
    color: #CB0783;
    font-weight: bold;
}

.service .search-bar {
    padding: 20px;
    text-align: center;
}

.service .search-bar .search-field {
    border-radius: 20px;
    padding: 10px 100px;
    border: 1px solid #c8c8c8;
}

.service .search-bar button {
    border-radius: 20px;
    padding: 10px 30px;
    border: 1px solid #c8c8c8;
    background:rgb(255, 90, 95);
    color: #ffffff;
    font-weight: bold;
}

.service .vip-caregiver {
    text-align: center;
    padding: 20px 100px;
}

.service .vip-caregiver h2 {
    text-align: left;
    padding: 20px;
    margin-left: 60px;
    font-weight: bold;
    color: rgb(255, 90, 95);
}
.service .vip-caregiver .info {
    padding-left: 80px;
}
.service .vip-caregiver .name{
    color: rgb(2, 57, 158);
    margin-top: 10px;
    font-size: 17px;
    font-weight:600;
    text-align: left;
}
.service .vip-caregiver .ideal {
    color: black;
    text-align: left;
    margin-top: -5px;
}

.service .vip-caregiver .price {
    text-align: left;
    margin-top: -10px;
}

.service .vip-caregiver .rating {
    text-align: left;
    margin-top: -10px;
}

.service .vip-caregiver .rating i{
    text-align: left;
    color: #f7d02c;
}

.service .suggested-caregiver {
    text-align: center;
    padding: 20px 100px;
}

.service .suggested-caregiver h2 {
    text-align: left;
    padding: 20px;
    margin-left: 60px;
    font-weight: bold;
    color: rgb(255, 90, 95);
}
.service .suggested-caregiver .info {
    padding-left: 80px;
}
.service .suggested-caregiver .name{
    color: rgb(2, 57, 158);
    margin-top: 10px;
    font-size: 17px;
    font-weight:600;
    text-align: left;
}
.service .suggested-caregiver .ideal {
    color: black;
    text-align: left;
    margin-top: -5px;
}

.service .suggested-caregiver .price {
    text-align: left;
    margin-top: -10px;
}

.service .suggested-caregiver .rating {
    text-align: left;
    margin-top: -10px;
}

.service .suggested-caregiver .rating i{
    text-align: left;
    color: #f7d02c;
}

/* About us */
.about-us .banner {
    background-color: #cccccc;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/about-us_banner.jpg");
    height: 500px;
    color: #ffffff;
}

.about-us .banner h1 {
    padding-top: 200px;
    padding-left: 50px;
    font-weight: bold;
}

.about-us .banner p {
    padding-left: 50px;
    font-size: 20px;
    font-weight: bold;
}

.about-us .slogan {
    text-align: center;
    padding: 50px;
    border-bottom: solid #cccccc 1px;
    padding-bottom: 20px;
}

.about-us .slogan h2 {
    font-weight: bold;
    padding-bottom: 30px;
}

.about-us .slogan p {
    color: #808080;
}

.about-us .slogan .row .col{
    padding: 20px;
}

.about-us .slogan .row .col img {
    width: 100%;
}

.about-us .slogan .row .col h4 {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.about-us .team {
    padding: 30px 100px;
    text-align: center;
}

.about-us .team h2 {
    font-weight: bold;
    padding-bottom: 50px;
}

.about-us .team .row .col h4 {
    font-weight: bold;
    padding-top: 10px;
}

.about-us .team .row .col .phone-number {
    color: #008000;
}
