/* Service detail page */

body {
    color: #484848;
}

/* Top navigation */
div.navigation i.fa-chevron-right {
    display: flex;
    align-items: center;
}
div.navigation div button {
    font-weight: bold;
    padding: 6px;
}
div.navigation div button:focus {
    box-shadow: none;
}

/* Service detail */
div.container.service-detail {
    margin: 20px 48px;
    font-size: 18px;
    max-width: 90%;
}
div.container.service-detail div.service-name h2 {
    font-weight: 700;
}
div.container.service-detail div.crop {
    height: 500px;
    width: 374px;
}
div.container.service-detail div.service-type {
    font-weight: 500;
}
div.container.service-detail  div.row div.col-lg-8 > div.row.top-row{
    align-items: center;
    display: flex;
}
div.container.service-detail div.row.top-row button:focus {
    box-shadow: none;
}
div.container.service-detail div.location {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
div.container.service-detail div.location span {
    color: #008489;
    padding-left: 20px;
}
div.container.service-detail i.fa-map-marker-alt, i.fa-stopwatch, i.fa-comments {
    font-size: 1.3em;
}
div.container.service-detail div.duration {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
div.container.service-detail div.duration span {
    padding-left: 20px;
}
div.container.service-detail div.language {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
div.container.service-detail div.language span {
    padding-left: 15px;
}
div.container.service-detail div.about-cargiver p.title {
    font-weight: 500;
}
div.container.service-detail div.about-cargiver div.avatar > div {
    width: 190px;
    height:146px; 
    align-items: center;
}
div.container.service-detail div.about-cargiver div.avatar > div img {
    width: 72px;
    height: 72px;
    border-radius: 36px;
}
div.container.service-detail div.about-cargiver div.avatar > div span.name {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
div.container.service-detail div.about-cargiver div.avatar > div button.contact {
    color: #006C70;
}
div.container.service-detail div.about-cargiver div.avatar > div button.contact:focus {
    box-shadow: none;
}
div.container.service-detail div.about-cargiver div.avatar > div button.contact:hover {
    text-decoration: underline;
}
div.container.service-detail p.more-detail {
    font-weight: 500;
}
div.container.service-detail p.should-know {
    font-weight: 500;
}

/* Review */
div.container.service-detail div.review-title h2 {
    font-weight: 700;
}
div.container.service-detail div.review-title div.rating-container {
    display: flex;
    align-items: center;
}
div.container.service-detail div.review-title div.rating-container span.rating {
    padding: 0 15px 0 20px;
    font-size: 20px;
    font-weight: bold;
}
div.container.service-detail div.review-title div.rating-container i.fa-star {
    color: #008489 ;
    padding: 0 3px;
}
div.container.service-detail div.review-body div.review-item img {
    width:48px;
    height: 48px;
    border-radius: 24px;
}
div.container.service-detail div.review-body div.review-item div.review-info {
    margin-left: 30px;
}
div.container.service-detail div.review-body div.review-item div.review-info span.reviewer-name {
    font-weight: bold;
    padding-right: 10px;
    font-size: 16px;
}
div.container.service-detail div.review-body div.review-item div.review-info span.reviewer-name:hover {
    text-decoration: underline;
    cursor: pointer;
}
div.container.service-detail div.review-body div.review-item div.review-info span.join-time {
    font-size: 14px;
}
div.container.service-detail div.review-body div.review-item div.review-info i.fa-star {
    color: #008489 ;
    font-size: 0.75em;
    padding: 5px 3px 0 0;
}
div.container.service-detail div.review-body div.review-item div.content {
    margin-top: 15px;
}

/* Action bar */
div.action-bar {
    height: 69px;
    background-color: #fff;
    position:sticky;
    bottom: 0;
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.05) !important;
    border-top: 1px solid #EBEBEB !important;
    z-index: 5;
    display: flex;
    align-items: center;
}
div.action-bar div.info {
    margin-left: 28px;
}
div.action-bar img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
div.action-bar div.agent-info {
    margin-left: 10px;
    color: #008489;
}
div.action-bar div.agent-info span.type {
    font-weight: 500;
    font-size: 14px;
    color: #484848;
}
div.action-bar div.agent-info div.rating {
    align-items: center;
}
div.action-bar div.agent-info span.rating {
    font-size: 14px;
    font-weight: 500;
    padding-right: 5px;
}
div.action-bar div.agent-info i.fa-star {
    font-size: 10px;
}
div.action-bar div.agent-info span.number-review {
    padding-left: 5px;
    font-size: 14px;
}
div.action-bar div.see-date {
    align-items: center;
}
div.action-bar div.see-date div.price span {
    font-weight: 700;
    font-size: 16px;
}
div.action-bar div.see-date button {
    background-color: rgb(255, 90, 95) !important;
    height: 46px;
    width: 200px;
    margin-left: 20px;
    border: none;
    font-weight: bold;
}
div.action-bar div.see-date button:hover {
    border: none;
}
div.action-bar div.see-date button:focus {
    box-shadow: none;
}
div.action-bar div.see-date {
    margin-left: 60px;
}

/* See dates page */

section#see-dates div.header {
    height: 56px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(72, 72, 72, .1);
    z-index: 100;
    background-color: #fff;
}
section#see-dates div.header button:focus {
    box-shadow: none;
}
section#see-dates div.header button > i.fa-times {
    color: rgb(72, 72, 72, .7);
}
section#see-dates div.container-calendar {
    margin-top: 56px;
}
section#see-dates div.container-calendar div.calendar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    position: fixed;
    top: 50px;
    left: 10%;
}
section#see-dates div.container-calendar div.container {
    margin: -270px 0 0 -245px;
}
section#see-dates div.container-calendar div.date-info {
    align-items: center;
    padding-top: 0;
}
section#see-dates div.container-calendar div.date-info div.title {
    width: 400px;
    position: fixed;    
    background-color: #fff;
    padding-top: 50px;
}
section#see-dates div.container-calendar div.date-info div.detail {
    width: 400px;
}
section#see-dates div.container-calendar div.date-info div.title p {
    font-weight: bold;
}
section#see-dates div.container-calendar div.date-info div.title h2 {
    font-weight: 400;
}
section#see-dates div.container-calendar div.date-info div.detail div.item {
    margin: 15px 0 15px 0;
    font-size: 15px;
    font-weight: 400;
    color: rgb(72, 72, 72);
    border-bottom: 1px solid rgb(72, 72, 72, .3);
    padding-bottom: 15px;
}
section#see-dates div.container-calendar div.date-info div.detail div.item div.info {
    justify-content: space-between;
}
section#see-dates div.container-calendar div.date-info div.detail div.item div.date {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
section#see-dates div.container-calendar div.date-info div.detail div.item div.date date {
    border-bottom: 1px solid rgb(72, 72, 72, .3);
    padding-bottom: 10px;
}
section#see-dates div.container-calendar div.date-info div.detail div.item button {
    border: 2px solid #008489;
    font-size: 16px;
    font-weight: bold;
    color: #008489;
}
section#see-dates div.container-calendar div.date-info div.detail div.item button:active {
    color: #006a70;
    background: rgba(0, 132, 137, 0.15);
    border-color: rgb(0, 106, 112);
}
section#see-dates div.container-calendar div.date-info div.detail div.item button:focus {
    box-shadow: none;
}
section#see-dates div.container-calendar div.calendar a {
	text-decoration: none;
}

section#see-dates div.container-calendar div.calendar h2 {
	font-size: 2em;
	line-height: 1.25em;
	margin: .25em 0;
}

section#see-dates div.container-calendar div.calendar h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin: .33em 0;
}

section#see-dates div.container-calendar div.calendar table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ---------- CALENDAR ---------- */

section#see-dates div.container-calendar div.calendar {
	text-align: center;
}

section#see-dates div.container-calendar div.calendar header {
	position: relative;
}

section#see-dates div.container-calendar div.calendar h2 {
	text-transform: uppercase;
}

section#see-dates div.container-calendar div.calendar thead {
	font-weight: 600;
	text-transform: uppercase;
}

section#see-dates div.container-calendar div.calendar tbody {
	color: #7c8a95;
}

section#see-dates div.container-calendar div.calendar tbody td:hover {
	border: 2px solid #00addf;
}

section#see-dates div.container-calendar div.calendar td {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	width: 4em;
}
section#see-dates div.container-calendar div.calendar td:hover {
	cursor: pointer;
}
section#see-dates div.container-calendar div.calendar .booked,
section#see-dates div.container-calendar div.calendar .next-month {
	color: #cbd1d2;
}
section#see-dates div.container-calendar div.calendar td.day {
    text-transform: capitalize;
}
section#see-dates div.container-calendar div.calendar .booked:hover {
	border: 2px solid #cbd1d2;
} 
section#see-dates div.container-calendar div.calendar .booked:hover {
    cursor: context-menu;
}
section#see-dates div.container-calendar div.calendar .current-day {
	background: #00addf;
	color: #f9f9f9;
}

section#see-dates div.container-calendar div.calendar td.current-day:after {
	background: #f9f9f9;
}

section#see-dates div.container-calendar div.calendar .btn-prev,
section#see-dates div.container-calendar div.calendar .btn-next {
	border: 2px solid #cbd1d2;
	border-radius: 50%;
	color: #cbd1d2;
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
}

section#see-dates div.container-calendar div.calendar .btn-prev:hover,
section#see-dates div.container-calendar div.calendar .btn-next:hover {
	background: #cbd1d2;
	color: #f9f9f9;
}

section#see-dates div.container-calendar div.calendar .btn-prev {
	left: 6em;
}

section#see-dates div.container-calendar div.calendar .btn-next {
	right: 6em;
} 